body {
  line-height: 1.5;
  font-family: 'Special Elite', cursive;
  color: white;


  /* Full Page Background Receipe */
  background: #14B2B2;
  background-image: url('../images/kate-bagoy.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 600px;
  margin: 40px;
  background: rgba(20,178,178);
  background: rgba(20,178,178,0.8);
  padding: .5em 2em 1em;
}

h1 {
	font-size: 60px;
	text-transform: uppercase;
	margin: 10px 0 -30px;
}

a {
	color: #FEEEC0;
	text-decoration: none;
}